@import url(../../App.scss);

%flex-center {
  display: flex;
  align-items: center;
}

header {
  @extend %flex-center;
  justify-content: space-between;
  border-bottom: solid var(--color-details) 1px;

  nav {
    @extend %flex-center;
    gap: 32px;
    transition: transform 0.3s ease-in-out;

    a {
      padding: 8px 0;
      font-size: 20px;
      font-variant: small-caps;
      letter-spacing: 1px;
      border-top: solid transparent 3px;
    }

    a:nth-child(1):hover {
      border-top: solid var(--color-mercurio) 3px;
    }
    a:nth-child(2):hover {
      border-top: solid var(--color-venus) 3px;
    }
    a:nth-child(3):hover {
      border-top: solid var(--color-terra) 3px;
    }
    a:nth-child(4):hover {
      border-top: solid var(--color-marte) 3px;
    }
    a:nth-child(5):hover {
      border-top: solid var(--color-jupiter) 3px;
    }
    a:nth-child(6):hover {
      border-top: solid var(--color-saturno) 3px;
    }
    a:nth-child(7):hover {
      border-top: solid var(--color-urano) 3px;
    }
    a:nth-child(8):hover {
      border-top: solid var(--color-netuno) 3px;
    }
  }

  #menu {
    display: none;
  }
}

@media (max-width: 480px) {
  header {
    justify-content: center;
    position: relative;
    z-index: 999;

    #menu {
      width: 20px;
      height: 60px;
      display: block;
      position: absolute;
      border-radius: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      right: 15px;

      img {
        width: 50px;
        margin-left: -10px;
      }
    }

    nav {
      display: flex;
      flex-direction: column;
      position: fixed;
      top: 20%;
      right: 0;
      transform: translateX(100%);
      gap: 16px;
      padding: 8px 40px;
      background-color: #011738f1;
      border-radius: 25px 0 0 25px;
      transition: transform 0.3s ease-in-out;

      a {
        padding: 4px 0;
        font-size: 25px;
        border-bottom: solid transparent 3px;
      }

      a:nth-child(1):hover {
        border-bottom: solid var(--color-mercurio) 3px;
        border-top: none;
      }
      a:nth-child(2):hover {
        border-bottom: solid var(--color-venus) 3px;
        border-top: none;
      }
      a:nth-child(3):hover {
        border-bottom: solid var(--color-terra) 3px;
        border-top: none;
      }
      a:nth-child(4):hover {
        border-bottom: solid var(--color-marte) 3px;
        border-top: none;
      }
      a:nth-child(5):hover {
        border-bottom: solid var(--color-jupiter) 3px;
        border-top: none;
      }
      a:nth-child(6):hover {
        border-bottom: solid var(--color-saturno) 3px;
        border-top: none;
      }
      a:nth-child(7):hover {
        border-bottom: solid var(--color-urano) 3px;
        border-top: none;
      }
      a:nth-child(8):hover {
        border-bottom: solid var(--color-netuno) 3px;
        border-top: none;
      }
    }

    .menu-aberto {
      transform: translateX(0);
    }

    .menu-fechado {
      transform: translateX(100%);
    }
  }
}
